!!! XML
!!! Strict
%html{ :xmlns=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en", :lang=>"en" }
  %head{ :profile => "http://www.w3.org/2005/10/profile" }
    %title PBCore Validator 2014
    %link{ :rel => "stylesheet", :type => "text/css", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" }
    %link{ :rel => "icon", :type => "image", :href => "logo.png" }
    %img(src="/logo.png")
  %body
    %h1 PBCore Validator
    = yield